<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.naver.user.domain.entity.TodoJoinUser"
                   alias="TodoJoinUser"/>
        <typeAlias type="com.naver.user.domain.entity.User"
                   alias="User"/>
        <typeAlias type="com.naver.user.domain.request.UpdateRequest"
                   alias="UpdateRequest"/>

<!--        <typeAlias type="com.naver.user.domain.request.LoginRequest"-->
<!--                   alias="LoginRequest"/>-->
    </typeAliases>
</configuration>